h2, p{
    margin: 0;
}

#contact_modal, #lightBox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1080px;
    background-color: rgba(255, 255, 255, 0.4);
}

.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background-color: #FAFAFA;
    height: 200px;
    margin: 0 100px;
    margin-bottom: 30px;
}

.photograph-header img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin:  50px auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, form textarea{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
}

form input {
    height: 48px;
}

form textarea{
    resize: none;
    height: 200px;
}

#photographer_page_description h2{
    color: #D3573C;
    margin: 0;
    font-size: 44px;
}

#photographer_page_description p{
    margin-top: 20px;
}

#photographer_page_description_city{
    color: #901C1C;
    font-size: 30px;
}

#photographer_page_description_tagline{
    color: #525252;
    font-size: 24px;
}

aside{
    background-color: #d3573c;
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 50px;
    bottom: 0;
    padding: 15px;
    width: 270px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

aside p{
    font-size: 20px;
}

#media_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 90px;
}

#media_section article{
    margin: 40px 10px;
    width: 300px;
}

#media_section .media_thumbnail{
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.media_description, .heart_container{
    display: flex;
    justify-content: space-between;
}

.media_description h2{
    color: #901C1C;
}

.media_description p{
    font-size: 20px;
    line-height: 35px;
    color: #901C1C;
    font-weight: bold;
}

.heart{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 6px;
}

.media_description .heart:hover{
    cursor: pointer;
}

aside .heart{
    margin-top: 3px;
}

main label{
    margin-left: 100px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

select{
    background-color: #901C1C;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}

#lightBox{
    background-color: rgba(0, 0, 0, 0.5);
}

#lightBox>div{
    border-radius: 5px;
    background-color: white;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin:  50px auto;
}

#lightBox_media img{
    max-width: 800px;
    height: 500px;
}

#lightBox_media video{
    width: 800px;
}

#lightBox_media h2{
    font-size: 25px;
    color: #901C1C;
    font-weight: bold;
}

#lightBox_left, #lightBox_right{
    width: 70px;
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow, #closeButton{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#closeButton{
    position: absolute;
    top: 80px;
}